
{% extends Main.html %}
{% block container %}
<!-- Start Container -->
<div id="container" class="row">
    <br>

    <form id="contact-form" action="" method="post" class="right center-align">
        <h2>
            <b>فرم ارتباط ما</b>
            <br>
        </h2>

        <label> نام :
            <input type="text" name="namec"/>
        </label> <br>

        <label> ایمیل :
            <input name="email" type="email" required/>
        </label> <br>

        <label>متن پیام :
            <textarea name="messege"> </textarea>
        </label> <br>


        <input type="submit" value="ارسال پیام ">

    </form>


    <br style="clear: both;"/>

</div>
<!-- End Container -->
{% end %}
