{% extends Main.html %}

{% block container %}
<!-- Start Container -->
<div id="container" class="col center-align">

    <br>

    <h2 style="color: #E91317;"><strong> راهنمای سایت </strong></h2>

    <br>
    <br>

    <h2><strong> راهنمای ثبت نام در لینک بوک </strong></h2><br>
    <br><br><br>

    <h2><strong>راهنماای ثبت وب سایت </strong></h2><br><br><br>

    <h2><strong>نحوه ثبت نظر و علاقه مندی ها </strong></h2><br><br><br>

    <div id="content">


        <br>

    </div>
</div>

{% end %}