{% extends Main.html %}
{% block container %}
<br><br><br>
<div id="container" class="col s12 s6">
    <div class="col s6 l6">
        <form id="login-form" action="/Login" method="post">
            <div class="col s12 push-l4">
                <div class="input-field row s6 l6">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="username" type="text" required class="validate">
                    <label for="username">username</label>
                </div>
                <div class="input-field row s6 l6">
                    <i class="material-icons prefix">lock</i>
                    <input name="password" type="password" required class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="col s12 center">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons right">lock_open</i>
                </button>
                {#                <i class="material-icons prefix">lock_open</i>#}
                {#                <input type="submit" value="Login""> <br>#}
            </div>
            <br><br>
        </form>
    </div>
    <div id="add Button" class="col s6 l6 center">
        <button class="btn waves-effect waves-light" type="button" name="action">
            <i class="material-icons right">add</i><a href="Register"></a>
        </button>
        <br><br>
    </div>
</div>

{% end %}
{##}
{#        <form class="col s12 center " id="login-form" action="/Login" method="post">#}
{#            <div class="input-field" ><label>نام کاربری :#}
{#            <input class="validate" type="text" name="username" required>#}
{#            </label></div> <br>#}
{#            <div class="input-field">#}
{#            <label> پسورد :#}
{#                <input class="validate" type="password" name="password" required>#}
{#            </label> </div><br>#}
{#            <input type="submit" value="وارد شدن"> <br>#}
{##}
{#        </form>#}
{##}
{##}
{#        <br style="clear: both;"/>#}
{##}
{#    </div>#}

<!-- End Container -->
