{% extends Main.html %}
{% block container %}
<!-- Start Container -->
<div id="container">

    <br>

    <div id="Register-web">
        <h3> نمایش اطلاعات ثبت وب سایت </h3>
        <br><br><br>

        <hr>


    </div>


    <div id="about-web">
        <h3>نمایش درباره وب سایت </h3>
        <img width="150" height="150" src="{{ static_url('uploads/1/1.jpg') }}{{ n }}"/>
        <br><br><br><br>
        <hr>


    </div>


    <div id="festival-web">
        <h3> نمایش افتخارات وب سایت </h3>

        <img width="150" height="150" src="{{ static_url('uploads/2/1.jpg') }}{{ n }}"/>
        <hr>


    </div>


    <br style="clear: both;"/>

</div>
<!-- End Container -->
{% end %}
