<!doctype html>
<html lang="fa">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>web show</title>

    <link rel="stylesheet" media="screen" type="text/css" href="../static/css/style.css"/>
</head>

<body>

<!-- Start Wrapper -->
<div id="wrapper">


    <!-- Start Header -->
    <div id="header">

        <div class="right">
            <div id="logo">

            </div>

            <div id="tagline">

            </div>
        </div>

        <div class="left">

            <div id="sn-icons">

                <a href="Register"><img src="../static/images/linkbook-img/Registericon.png" width="52" height="52"
                                        alt="Register" title="ثبت نام"/></a>
                <a href="Login"><img src="../static/images/linkbook-img/Loginicon.png" width="52" height="52"
                                     alt="Login" title="وارد شدن"/></a>

            </div>


            <div id="searchfrm">
                <form action="#">
                    <input type="submit" value=""/>
                    <label>
                        <input type="text" name="search" value="جستجو..."
                               onfocus="if(this.value == 'جستجو...') {this.value = '';}"
                               onblur="if(this.value == '') {this.value = 'جستجو...';}"/>
                    </label>
                </form>

            </div>
        </div>

        <br style="clear: both;"/>

        <ul id="menu">

            <li><a href="index"><strong>خانه</strong></a></li>
            <li><a href="webshow"><strong>نمایش وب سایت </strong></a></li>
            <li><a href="about">درباره</a></li>
            <li><a href="Contact">ارتباط با ما</a></li>
            <li><a href="help"><strong>راهنما</strong></a></li>
            <li><a href="Webpages">صفحه ی وب سایت</a></li>
            <li><a href="Dashboard">داشبورد</a></li>
        </ul>

        <br style="clear: both;"/>
    </div>
    <!-- End Header -->


    <!-- Start Container -->
    <div id="container">
        <h2><br>


            <span style="text-align: center"> دسته کسب و کارهای آنلاین</span> <br>


        </h2>

        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3>عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3>عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3>عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <div class="post-item">
            <a href="#"> <img src="../static/images/post-img/11.jpg" alt=""/></a>

            <h3> عنوان وب سایت 1 </h3>
        </div>


        <ul id="pagination">
            <li><a href="#"> 1 </a></li>
            <li><a href="#"> 2 </a></li>
            <li><a href="#"> 3 </a></li>
            <li><a href="#"> 4 </a></li>
            <li><a href="#"> 5 </a></li>
        </ul>


        <br style="clear: both;"/>
    </div>

    <!-- End Container -->

    <!-- Start Footer -->
    <div id="footer">
        <div class="left">
            <div id="logof">
                <a href="#"><img src="../static/images/linkbook-img/logof.png" width="80" height="110"/></a>
            </div>
            <br style="clear: both;"/>

            <p class="copyright"> تمام حقوق این وب سایت متعلق است به دانشجویان گروه کامپیوتر دانشگاه لرستان<br> پاییز 94
            </p>
        </div>
        <br style="clear: both;"/>
    </div>
    <!-- End Footer -->
</div>
<!-- End Wrapper -->


</body>

</html>
